langchain-google-genai
pydantic
requests
python-dotenv
langchain-groq
langgraph
langgraph-checkpoint-sqlite
langgraph-checkpoint-postgres
psycopg2-binary
psycopg[binary]
psycopg-pool
sqlalchemy
passlib
bcrypt==3.2.0
python-jose
fastapi
uvicorn
python-multipart